.header 
  i.fa.fa-exchange.fa-lg.toggle-sidebar
  .dropdown.notifications-container
    i.fa.fa-bell.fa-lg.header-icon.toggle-notifications( data-bs-toggle='dropdown' aria-expanded='false')
    ul.dropdown-menu
      .noti-head 
        | Notifications
        span 50
      .noti-content 
        ul.list-unstyled
          li 
            i.fa.fa-envelope.fa-lg.email-icon
            | You Got A New Email From ...
          li 
            i.fa.fa-money-bill-wave.fa-lg.money-icon
            | You Got Money From ...
          li 
            i.fa.fa-heart.fa-lg.heart-icon 
            | You Got A New Like From ...
          li 
            i.fa.fa-envelope.fa-lg.email-icon
            | You Got A New Email From ...
          li 
            i.fa.fa-money-bill-wave.fa-lg.money-icon
            | You Got Money From ...
          li 
            i.fa.fa-heart.fa-lg.heart-icon
            | You Got A New Like From ...
      .noti-foot.text-center: a(href="#") View All Notifications
  i.fa.fa-expand.fa-lg.toggle-fullscreen.header-icon
  .dropdown.usermenu-container
    .username(data-bs-toggle='dropdown' aria-expanded='false') 
      img.avatar.rounded-circle(src="imgs/avatar.jpg", alt="User Avatar")
      span.user Abdullah Haidar 
      i.fa.fa-angle-down.fa-lg
    ul.dropdown-menu.dropdown-menu-right
      .user-info
        h3 Abdullah Haidar 
        p Premium Member 
      hr
      ul.activities-list.list-unstyled 
        li Added Comment on Post "How To Make Bla Bla"
        li Created Post on Category "Science"
        li Created Chart on Charts Page
        li Added Comment on Post "How To Make Bla Bla"
      hr
      .row.usermenu-links 
        .col  
          .link-box
            i.fa.fa-gear.fa-lg.fa-fw
            span Settings
        .col 
          .link-box
            i.fa.fa-user.fa-lg.fa-fw
            span My Profile
        .col 
          .link-box
            i.fa.fa-power-off.fa-lg.fa-fw
            span Logout