.header {
  background-color: #fff;
  padding: 20px;
  .header-icon {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
    position: relative;
    margin-left: 10px;
  }
  .toggle-sidebar {
    cursor: pointer;
    &:hover {
      color: #27ae60;
    }
  }
  .notifications-container {
    display: inline-block;
    margin-left: 20px;
    .dropdown-menu {
      min-width: 450px;
      border: none;
      padding: 0;
      box-shadow: 0 0 10px 0px #ddd;
      top: 10px !important;
      border-radius: 6px;
      &::before {
        content: "";
        position: absolute;
        top: -20px;
        left: 9px;
        border-style: solid;
        border-width: 10px;
        border-color: transparent transparent #333 transparent;
      }
      .noti-head {
        background-color: #333;
        padding: 15px;
        color: #fff;
        border-radius: 6px 6px 0 0;
        font-weight: bold;
        span {
          float: right;
        }
      }
      .noti-content {
        padding: 10px;
        padding-bottom: 5px;
        ul {
          margin: 0;
          li {
            padding: 5px;
            font-weight: bold;
            color: #777;
            border-bottom: 1px solid #e9e8e8;
            margin-bottom: 10px;
            font-size: 15px;
            &:first-child {
              padding-top: 0;
            }
            &:last-child {
              padding-bottom: 0;
              margin-bottom: 0;
              border-bottom: none;
            } 
            i {
              background-color: #f7f7f7;
              width: 30px;
              height: 30px;
              line-height: 30px;
              text-align: center;
              margin-right: 10px;
              position: relative;
              top: -5px;
              font-size: 14px;
              color: #fff;
              border-radius: 8px;
              &.email-icon {
                background-color: #4caf50;
              }
              &.money-icon {
                background-color: #2196f3;
              }
              &.heart-icon {
                background-color: #ff9800;
              }
            }
          }
        }
      }
      .noti-foot {
        a {
          display: block;
          padding: 10px;
          border-top: 1px solid #eee;
          text-decoration: none ;
        }
      }
    }
  }
  .usermenu-container {
    float: right;
    .username {
      cursor: pointer;
      .avatar {
        width: 35px;
        height: 35px;
      }
      .user {
        font-weight: bold;
        color: #777;
        margin-right: 10px;
        margin-left: 10px;
      }
    }
    .dropdown-menu {
      min-width: 450px;
      border: none;
      padding: 20px;
      box-shadow: 0 0 10px 0px #ddd;
      top: 10px !important;
      border:1px solid #dfdfdf;
      border-radius: 6px;
      &::before {
        content: "";
        position: absolute;
        top: -20px;
        right: 30px;
        border-style: solid;
        border-width: 10px;
        border-color: transparent transparent #ddd transparent;
      }
      .user-info {
        h3 {
          font-weight: bold;
          color: #27ae60;
        }
        p {
          color: #888;
        }
      }
      .activities-list {
        li {
          padding: 10px;
        }
      }
      .usermenu-links  {
        .link-box {
          background-color: #fff;
          padding: 10px 5px;
          border: 1px solid #f3f3f3;
          border-radius: 6px;
          font-size: 14px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          span {
            padding-right: 5px;
          }
          i {
            position: relative;
            top: 3px;
            &::after {
              content: "";
              border: 1px solid #e1e1e1;
              position: relative;
              right: -8px;
            }
            &.fa-gear {
              color: #2980b9;
            }
            &.fa-user {
              color: #16a085;
            }
            &.fa-power-off {
              color: #c0392b;
            }
          }
        }
      }
    }
  }
}